<br />
<a asp-area="default" asp-controller="upImage" asp-action="Index" class="btn btn-primary"> آپلود تصاویر</a>
<br/>
<hr />
<div class="news-slider border-radius">
    <div id="slider-one" class="owl-carousel">
        @foreach (var item in ViewData.Model)
        {
        <div class="item">
            <img  src="~/ImageSlider/@item" alt="Hooman Shirdel" 
                 class="img-responsive"  style="width:750px;height:400px;">
        </div>
        }
        <!-- end each item -->
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
