<br />
<hr />
<h1 class="btn btn-danger" ><i class="fa fa-upload"></i> آپلود تصاویر</h1>
<br />
<hr />
<form method="post" asp-area="default" asp-controller="upImage" asp-action="UploadImage"  enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <hr />
    <input type="submit" value="    آپلود   "  class="btn btn-success fa fa-upload" />

</form>
